﻿
@model devilMask_companyWebSIte.Models.MessageModel

@{
    ViewBag.Title = "ContactUs";
    
}

<!DOCTYPE html>
<html lang="en">



<body>



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">
            Contact
            <small>Us</small>
        </h1>



        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-lg-8 mb-4">

                @*<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/Sri+Lanka/@7.8516982,78.4554292,7z/data=!3m1!4b1!4m5!3m4!1s0x3ae2593cf65a1e9d:0xe13da4b400e2d38c!8m2!3d7.873054!4d80.771797?hl=en"></iframe>*@
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4047271.6241748733!2d78.45542916405898!3d7.85169823234044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2593cf65a1e9d%3A0xe13da4b400e2d38c!2sSri%20Lanka!5e0!3m2!1sen!2slk!4v1568816345865!5m2!1sen!2slk" width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-lg-4 mb-4">
                <h3>Contact Details</h3>
                <p>
                    3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </p>
                <p>
                    <abbr title="Phone">P</abbr>: (123) 456-7890
                </p>
                <p>
                    <abbr title="Email">E</abbr>:
                    <a href="mailto:name@example.com">
                        name@example.com
                    </a>
                </p>
                <p>
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
                </p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Contact Form -->

        <div class="row">
            <div class="col-lg-8 mb-4">
                <h3>Send us a Message</h3>
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            @*<input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">*@
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-user", @placeholder = "Full Name" })
                            @Html.ValidationMessageFor(m => m.FullName,"");
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            @*<input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">*@
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-user", @placeholder = "Telepohone" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "")
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            @*<input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">*@
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Email Address" })
                            @Html.ValidationMessageFor(m => m.Email, "")
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                            @Html.ValidationMessageFor(m => m.Message1, "")

                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

    </div>


    @*<script src="vendor/jquery/jquery.min.js"></script>*@
    

    <!-- Page custom JavaScript -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/contact_me.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
