﻿@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/home.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<script src="~/Scripts/jssor.slider.min.js"></script>
<script src="~/Scripts/reviewSlider.js"></script>
<link href="~/Content/reviewSlider.css" rel="stylesheet" />


<div class="main_container">  
    <div class="top_container">
        <div class="outer">
            <div class="vision">
                <span style="color:#D7BDE2">"Make your imagination a reality with us."</span>
            </div>
            <div class="details">
                <h1><span class="c_name"><b class="later">D</b>evil <b class="later">M</b>ask</span> <span class="C_name2">IT solution</span></h1>
            </div>
            <div class="mision">
                <span style="color:#D7BDE2">"Make your imagination a reality with us."</span>
            </div>
            <div class="bar_header">
                <div class="b_header">Meet Expectations</div>
                <div class="b_header">On Time Delivery</div>
                <div class="b_header">Within Budget</div>
            </div>
        </div>
    </div>
    <div class="dicript_wraper pb-3 ">
        <div class="bar_wraper mb-3">
            <div class="bar_3">
                <div class="bar_body">
                    <div class="b_diccript">
                        We have a dedicated team of people to evaluate your existing system and generate a proposal which will satisfy your present needs and take your long term requirements into account. All while your expectations are exceeded.
                    </div>
                </div>
            </div>
            <div class="bar_3">
                <div class="bar_body">
                    <div class="b_diccript">
                        One element that most software businesses fail is to deliver a finalized software project within the timeline specified. Our team will ensures that all projects are finished within the timeline agreed upon.

                    </div>
                </div>
            </div>
            <div class="bar_3">
                <div class="bar_body">
                    <div class="b_diccript">
                        The client has difficulty in estimating how much money it might take to create the software. We enable you to generate and stick to a  budget by providing each section a comprehensive proposition before we begin.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="y_choos_us">
        <div style="width:100%;text-align:center">
            <h1 style="color:#D7BDE2">Why choose Us</h1>
            <p style="color:#D7BDE2;font-family:'Roboto',sans-serif;font-weight:700"> </p>
        </div>
        <div class="procedure_cards_row1">
            <div class="p_card">
                <div class="card_img_sec">
                    <img src="~/images/designing.jpg" class="c_img" />
                </div>
                <div class="card_body_sec">
                    <h4 style="color:#D7BDE2">1. Design</h4>
                    <p class="card_body_para">one of the hardest components of a software development is software design.There is a powerful correlation between excellent design and project success.Our team will design great software for your requirements. </p>
                </div>
            </div>
            <div class="p_card">
                <div class="card_img_sec">
                    <img src="~/images/development.jpg" class="c_img" />
                </div>
                <div class="card_body_sec">
                    <h4 style="color:#D7BDE2"> 2. Development</h4>
                    <p class="card_body_para">Depending on the requirements of the project, we have a committed team to evaluate and recognize the particular goals of customers and to create the solutions that satisfy them.</p>
                </div>
            </div>

            @*<div class="procedure_cards_row1">*@
            <div class="p_card">
                <div class="card_img_sec">
                    <img src="~/images/support.jpg" class="c_img" />
                </div>
                <div class="card_body_sec">
                    <h4 style="color:#D7BDE2">3. Support</h4>
                    <p class="card_body_para">We continuously provide excellent technical assistance while offering industry-leading client satisfaction and support at the same time.</p>
                </div>
            </div>
            <div class="p_card">
                <div class="card_img_sec">
                    <img src="~/images/marketing.jpg" class="c_img" />
                </div>
                <div class="card_body_sec">
                    <h4 style="color:#D7BDE2">4. Technologies</h4>
                    <p class="card_body_para">Different technologies allow us to deliver embedded, scalable and robust solutions with an ideal cost. We are constantly experimenting with new technologes to satisfy our clients ' ever-growing requirements.
</p>
                </div>
            </div>
            @*</div>*@
        </div>
    </div>
    <div class="com_discript">
        <div class="com_discript_overlay">
            <div class="com_discript_head">
                <h3 class=" mt-3" style=" font-weight:600;">
                    Devil Mask Software Development Company
                </h3>
            </div>
            <div class="com_discript_body">
                <p class="com_discript_body_para">
                    We are a small scale firm based in the Sri Lanka that analyzes, designs and develops custom software whenever a customer requires it.
                    our dedicated team is used to create cost-effective software solutions for any company or sector.

                    It's not just a business for our company to develop custom applications, it's our passion.
                    Our software involves innovative and user friendly charachteristics.

                    We provide great after-sales service if you need an assistance, and you can call us directly any day or moment.
                    We offer a variety of IT services including web development desktop application development and many others.
                    We create applictions that makes consumers happy and helps them save time and money.
                 </p>
            </div>
        </div>
    </div>
     

    <div class="s_media">
        <a><img src="~/images/facebook.png" class="s_icon" /></a>
        <a><img src="~/images/twitter.png" class="s_icon" /></a>
        <a><img src="~/images/linkedin.png" class="s_icon" /></a>
        <a><img src="~/images/youtube.png" class="s_icon" /></a>
        <a><img src="~/images/gmail.png" class="s_icon" /></a>
    </div>

    <div id="our_customer" class="pb-3">
        <h2 class="pt-3 customer_heder">Our Customers</h2>
        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
            <!-- Loading Screen -->
            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
                <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="img/spin.svg" />
            </div>
            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">

                <div>
                    <img data-u="image" src="~/images/rona_shop.jpg" />
                    <div data-u="thumb">
                        <img data-u="thumb" class="i" src="~/images/business-man.jpg" />
                        <span class="ti">Mallikarachi Enterprise</span><br />
                        <span class="d">Kaluthara,Sri Lanka</span>
                    </div>
                </div>
                <div>
                    <img data-u="image" src="~/images/automobiles.jpg" />
                    <div data-u="thumb">
                        <img data-u="thumb" class="i" src="~/images/businessman2.jpg" />
                        <span class="ti">Ashoka Motars</span><br />
                        <span class="d">Kadawatha,Sri Lanka</span>
                    </div>
                </div>
                <div>
                    <img data-u="image" src="~/images/hospital.jpg" />
                    <div data-u="thumb">
                        <img data-u="thumb" class="i" src="~/images/businessman3.jpg" />
                        <span class="ti">Hemas Hospital</span><br />
                        <span class="d">Colombo-9,Sri lanka</span>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Navigator -->
            <div data-u="thumbnavigator" class="jssort121" style="position:absolute;left:0px;top:0px;width:268px;height:380px;overflow:hidden;cursor:default;" data-autocenter="2" data-scale-left="0.75">
                <div data-u="slides">
                    <div data-u="prototype" class="p" style="width:268px;height:68px;">
                        <div data-u="thumbnailtemplate" class="t"></div>
                    </div>
                </div>
            </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb111" style="position:absolute;bottom:12px;right:12px;" data-scale="0.5">
                <div data-u="prototype" class="i" style="width:24px;height:24px;font-size:12px;line-height:24px;">
                    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;">
                        <circle class="b" cx="8000" cy="8000" r="3000"></circle>
                    </svg>
                    <div data-u="numbertemplate" class="n"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">jssor_1_slider_init();</script>
<!-- #endregion Jssor Slider End -->
<script>

    $(window).scroll(function () {
        if (($(window).scrollTop() + $(window).height()) == $(document).height()) {
            $(".s_media").css("display", "none");
        }
        else {
            $(".s_media").css("display", "block");
        }
    });
</script>
<script src="~/Scripts/home.js"></script>