﻿
@{
    ViewBag.Title = "OurTeam";
}
<link href="~/Content/OurTeam.css" rel="stylesheet" />



<section class="speakers-section" style="background-image: url(https://i.ibb.co/92HJxz2/team-bg.jpg); width:100%;">
    <div style="padding-left:5%; color:white;">
        <h1 class="bounceanimated infinite bounce delay-2s">Our Team</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="~/images/web.jpg" alt="">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                    </div>
                    <div class="caption-box">
                        <h4 class="name"><a href="#">Ishara Nadeeshan </a></h4>
                        <span class="designation">(B Sc)</span>
                    </div>
                </div>
            </div>


            <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                    </div>
                    <div class="caption-box">
                        <h4 class="name"><a href="#">Lorem Ipsum </a></h4>
                        <span class="designation">simply dummy text</span>
                    </div>
                </div>
            </div>


            <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                    </div>
                    <div class="caption-box">
                        <h4 class="name"><a href="#">Lorem Ipsum </a></h4>
                        <span class="designation">simply dummy text</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="~/images/web.jpg" alt="">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                    </div>
                    <div class="caption-box">
                        <h4 class="name"><a href="#">Ishara Nadeeshan </a></h4>
                        <span class="designation">(B Sc)</span>
                    </div>
                </div>
            </div>


            <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                    </div>
                    <div class="caption-box">
                        <h4 class="name"><a href="#">Lorem Ipsum </a></h4>
                        <span class="designation">simply dummy text</span>
                    </div>
                </div>
            </div>


            <div class="speaker-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="">
                            <div class="social-links">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                </ul>
                            </div>
                        </figure>
                    </div>
                    <div class="caption-box">
                        <h4 class="name"><a href="#">Lorem Ipsum </a></h4>
                        <span class="designation">simply dummy text</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://kit.fontawesome.com/5d83a7e0c6.js"></script>

