﻿
@{
    ViewBag.Title = "Services";
}

<link href="~/Content/services.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="padding-left:5%;">
    <h1 class="bounceanimated infinite bounce delay-2s">services</h1>
</div>
<div class="container">
    <div class="row">
        @*desk top application card*@
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <div class=" card-img-top hovereffect">
                    <img class="img-responsive cardImg" src="~/images/desktopApplication.jpg" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Desktop applications</h5>
                    <p class="card-text">Our dedicated development team will make your desktop apilication robust and user-friendly. </p>
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#dextopAppplicationModel">
                        See more..
                    </button>
                </div>
            </div>
        </div>

        @*web development card*@
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <div class=" card-img-top hovereffect">
                    <img class="img-responsive cardImg" src="~/images/web.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Web development</h5>
                    <p class="card-text">we will design you a stunning web application.</p>
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#webDevelopmengtModelModel">
                        See more..
                    </button>
                </div>
            </div>
        </div>

        @*Digital marketing card*@
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <div class=" card-img-top hovereffect">
                    <img class="card-img-top" src="~/images/faceBookMarkating.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Digital markating </h5>
                    <p class="card-text">Build your marketing automation application with Facebook's advertising platform with us.</p>
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#sociaMediaMarketingModelModel">
                        See more..
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*seo card*@
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <div class=" card-img-top hovereffect">
                    <img class="img-responsive cardImg" src="~/images/desktopApplication.jpg" alt="">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Search engine optimization</h5>
                    <p class="card-text">Enhance your website visibility by increasing  the quality and quantity of website traffic.</p>
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#seoModel">
                        See more..
                    </button>
                </div>
            </div>
        </div>

        @*mobile app development card*@
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <div class=" card-img-top hovereffect">
                    <img class="img-responsive cardImg" src="~/images/web.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">mobile app devilopment</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#mobileModel">
                        See more..
                    </button>
                </div>
            </div>
        </div>

        @*other card*@
        <div class="col-md-4">
            <div class="card mb-4 text-white bg-dark">
                <div class=" card-img-top hovereffect">
                    <img class="card-img-top" src="~/images/faceBookMarkating.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">other </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-outline-light btn-sm" data-toggle="modal" data-target="#otherModel">
                        See more..
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@*dextop Appplication Model*@
<div class="modal fade" id="dextopAppplicationModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dextop Appication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*webDevelopmengtModelModel*@
<div class="modal fade" id="webDevelopmengtModelModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Dextop Appication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*Digital Marketing Model*@
<div class="modal fade" id="sociaMediaMarketingModelModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Digital Marketing </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Efficiently unleash your social media marketing solution with our team. we quickly maximize timely deliverables for real-time schemas.


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*seoModel*@
<div class="modal fade" id="seoModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">seo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*mobileModel*@
<div class="modal fade" id="mobileModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">mobile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Facebook users can now tell the company not to run facial recognition on their pictures.
                The company announced Tuesday that it has added a setting for opting out of certain face recognition features that have raised privacy concerns. If you disable face recognition, Facebook won’t automatically tag you in images, nor will it automatically suggest tags of your friends. Opting out will also stop Facebook from searching for you in other images on the site using its Photo Review feature — which is designed to notify you when someone uploads a picture of you that you aren’t tagged in, perhaps so that you can flag impersonation or other problems.
                The update will also have a significant impact on the underlying technology that allows Facebook to recognize you in the first place, the company told OneZero. Facebook processes images to extract what your face looks like into a hidden string of numbers called a template, according to the company’s website. Fundamentally, facial recognition is just comparing how statistically similar your string of numbers is to other strings of numbers extracted from other images, using criteria like the distance and orientation of facial features learned by an algorithm.
                When you opt out of facial recognition on Facebook, the company will delete your template, meaning it will have no original reference point for your face and therefore cannot find your face at all. It’s an assurance that Facebook isn’t actually retaining data that it could use again someday to recognize your face. Of course, Facebook could compute that template again if you opt back in. And your friends can still manually tag you in an image, though doing so won’t lead Facebook to compute a new template for your face.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*otherModel*@
<div class="modal fade" id="otherModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">otherModel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               ..........
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

