﻿ <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
    <div class="nav_container">
        <a href="~/Home/Index" class="logo_link"><img id="logo" src="~/images/devil_logo.png"><span class="com_name"><b class="later">D</b>evil <b class="later">M</b>ask</span></a>
        <a href="~/Home/ContactUs" class="nav_item">Contact Us</a>
        <a href="~/Home/AboutUs" class="nav_item">About Us</a>
        <a href="~/Home/OurTeam" class="nav_item">Our Team</a>
        <a href="~/Home/Services" class="nav_item">Services</a>
        <a href="~/Home/Index" class="nav_item">Home</a>
    </div>
    <div>
        @RenderBody()
    </div> 
    <div class="c_footer">
        <div class="footer_logo_sec col-3">
            <img src="~/images/devil_logo.png" id="footer_logo" />
            <div><span class="com_name"><b class="later">D</b>evil <b class="later">M</b>ask</span></div>
        </div>
        <div class="footer_aboutUs_sec col-6">
            <h3 style="color:#D7BDE2">Contact Us</h3>
            <div class="contact_information">
                Email : devilmask@gmail.com<br />
                Mobile : 0712499044
                <div class="s_media_footer">
                    <a><img src="~/images/facebook.png" class="s_icon_f" /></a>
                    <a><img src="~/images/twitter.png" class="s_icon_f" /></a>
                    <a><img src="~/images/linkedin.png" class="s_icon_f" /></a>
                    <a><img src="~/images/youtube.png" class="s_icon_f" /></a>
                    <a><img src="~/images/gmail.png" class="s_icon_f" /></a>
                </div>
            </div>
        </div>
        <div class="footer_ContactUs_sec col-3">
            <h3 style="color:#D7BDE2">Services</h3>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
