﻿.body {
    margin: 0;
    padding: 0;
}
.main_container{
    position:relative;
}
.top_container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*position: absolute;
    left: 0;
    top: 60px;*/
    width: 100%;
    height: 415px;
    animation: animate 26s ease-in-out infinite;
}

.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 415px;
    background: rgba(0, 0, 0, 0.6);
}

.details {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    text-align: center;
}

    .details h1 {
        font-size: 4em;
        color: #D7BDE2;
    }

    .details h2 span:nth-child(1) {
        color: red;
    }

    .details h2 span:nth-child(2) {
        color: yellow;
    }

@keyframes animate {
    0%,100% {
        background-image: url(/images/home1.jpg);
    }

    25% {
        background-image: url(/images/home2.jpg);
    }

    50% {
        background-image: url(/images/home4.jpg);
    }

    75% {
        background-image: url(/images/home6.jpg);
    }
}
.vision {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size:22px;
    font-family: 'Lobster', cursive;
}
.mision {
    position: absolute;
    bottom: 85px;
    font-size: 22px;
    right: 30px;
    color: #ffffff;
    font-family: 'Lobster', cursive;
}
.outer {
    position: relative;
}
.c_name {
    font-family: 'Courgette',cursive;
}
.C_name2 {
    font-size: 33px;
    color: #0066ff;
}
.bar_3 {
    height: 350px;
    border: solid 3px black;
    width: 25%;
    text-align: center;
    margin: -65px 20px 0 20px;
}
.bar_wraper {
    display: flex;
    justify-content: center;
}
.bar_header {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.b_header {
    height: 60px;
    width: 25%;
    margin: 10px 20px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #D7BDE2;
    font-size:25px;
    font-weight:600;
}
.bar_body {
    width: 100%;
    height: 282px;
    margin: 62px 0 0 0;
    background-color: #343A40;
}
.b_diccript {
    color: #D7BDE2;
    font-size: 19px;
    text-align: left;
    padding: 10px 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.dicript_wraper {
    background-color: #808080;
}
.com_discript {
    position: relative;
    background-image: url('../images/company_back.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.com_discript_overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
}
.com_discript_head {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #D7BDE2;
    font-family: 'Roboto',sans-serif;
}
.com_discript_body {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    color: #D7BDE2;
}
.com_discript_body_para {
    width: 70%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
}
.s_media{
    position:fixed;
    right:20px;
    top:250px;
    z-index:100;
}
.s_icon {
    width: 35px;
    display: block;
    margin-top:3px;
}
.paralex_mid{
    background-color:#343A40;
    width:50%;
}
.y_choos_us {
    background-image: url('../images/devil_logo.png');
    height: 700px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.procedure_cards_row1{
    display:flex;
    justify-content:center;
}
.p_card {
    width: 20%;
    border: 2px solid #D7BDE2;
    text-align: center;
    margin:10px 15px;
}
.card_img_sec {
    width: 90%;
    height: 227px;
    margin: 0 auto;
    margin-top: 10px;
}
.card_body_sec {
    width: 90%;
    height: 250px;
    background-color:#343A40;
    margin: 0 auto;
    margin-bottom:10px;
}
.c_img {
    width: 100%;
    height:100%;
}

#our_customer {
    text-align: center;
    background: #808080;
}
.customer_heder {
    font-weight: 600;
    font-family: 'Roboto',sans-serif;
    color: #D7BDE2;
}
.card_body_para {
    color: #D7BDE2;
    font-size: 20px;
    text-align: justify;
    padding: 0 32px;
}

@media (min-width:1500px) {
    .top_container {
        height: 755px;
    }
    .outer {
        height: 755px;
    }
    .details {     
        top: 47%;
    }
    .b_header {
        font-size: 30px;
        width: 22%;
    }
    .b_diccript {
        font-size: 22px;
        padding: 10px 50px
    }
    .bar_3 {
        height: 470px;
        width: 22%;
    }
    .bar_body {
        height: 402px;    
    }
    .com_discript_body_para {
        width: 65%;
        font-size: 25px;
    }
    .com_discript_head {    
        top: 25px;      
    }
    .com_discript_body {
        top: 100px;
    }
}
@media(min-width:1300px) and (max-width:1400px){
    .card_body_sec {
        height: 255px;
        padding:10px 8px;
    }
    .card_img_sec {
        height: 155px;
    }
    .y_choos_us {
        height: 570px;
    }
    .outer {
        height: 500px;
    }
    .top_container {
        height: 500px;
    }
    .card_body_para {
        font-size: 15px;
        padding: 0 10px;
    }
    .nav_item {
        margin: 10px 5px;
    }
    .com_discript_body {
        top: 145px;
    }
    .com_discript_head {
        top: 50px;
    }
}
@media(min-width:1200px) and (max-width:1300px) {
    .card_body_sec {
        height: 225px;
        padding: 10px 8px;
    }

    .card_img_sec {
        height: 155px;
    }

    .y_choos_us {
        height: 570px;
    }

    .outer {
        height: 500px;
    }

    .top_container {
        height: 500px;
    }

    .card_body_para {
        font-size: 15px;
        padding: 0 10px;
    }

    .nav_item {
        margin: 10px 5px;
    }

    .com_discript_body {
        top: 145px;
    }

    .com_discript_head {
        top: 50px;
    }
}
@media(min-width:1100px) and (max-width:1200px) {
    .card_body_sec {
        height: 225px;
        padding: 10px 8px;
    }

    .card_img_sec {
        height: 155px;
    }

    .y_choos_us {
        height: 570px;
    }

    .outer {
        height: 500px;
    }

    .top_container {
        height: 500px;
    }

    .card_body_para {
        font-size: 15px;
        padding: 0 10px;
    }

    .nav_item {
        margin: 10px 5px;
    }

    .com_discript_body {
        top: 145px;
    }

    .com_discript_head {
        top: 50px;
    }
    .b_diccript {
        font-size: 18px;
    }
    .s_media {
        right: 5px;
    }
    .p_card {
        width: 21%;
    }
    .card_body_sec {
        height: 255px;
    }
    .card_img_sec {
        height: 159px;
    }
}

@media(min-width:1000px) and (max-width:1100px) {
    .card_body_sec {
        height: 225px;
        padding: 10px 8px;
    }

    .card_img_sec {
        height: 155px;
    }

    .y_choos_us {
        height: 570px;
    }

    .outer {
        height: 500px;
    }

    .top_container {
        height: 500px;
    }

    .card_body_para {
        font-size: 15px;
        padding: 0 10px;
    }

    .nav_item {
        margin: 10px 5px;
    }

    .com_discript_body {
        top: 145px;
    }

    .com_discript_head {
        top: 50px;
    }

    .b_diccript {
        font-size: 17px;
    }

    .s_media {
        right: 5px;
    }

    .p_card {
        width: 21%;
    }

    .card_body_sec {
        height: 255px;
    }

    .card_img_sec {
        height: 159px;
    }
}

@media(min-width:769px) and (max-width:1000px) {
    .card_body_sec {
        height: 225px;
        padding: 10px 8px;
    }

    .card_img_sec {
        height: 155px;
    }

    .y_choos_us {
        height: 895px;
    }

    .outer {
        height: 500px;
    }

    .top_container {
        height: 500px;
    }

    .card_body_para {
        font-size: 15px;
        padding: 0 10px;
    }

    .nav_item {
        margin: 10px 5px;
    }

    .com_discript_body {
        top: 85px;
    }

    .com_discript_head {
        top: 4px;
    }

    .b_diccript {
        font-size: 17px;
    }

    .s_media {
        right: 5px;
    }

    .p_card {
        width: 40%;
    }

    .card_body_sec {
        height: 180px;
    }

    .card_img_sec {
        height: 159px;
    }
    .bar_wraper {
        display:block;
        padding-top:15px;

    }
    .bar_3 {
        height: 210px;
        width: 75%;
        margin: 10px auto;
    }
    .bar_body {
        width: 100%;
        height: 142px;
    }
    .bar_header {
        display:none;
    }
    .mision {
        bottom: 30px;
    }
    .com_discript_body_para {
        width: 90%;
    }
    .com_discript {
        height: 425px;
    }
    #footer_logo {
        width: 95px;
    }
}