﻿.nav_container {
    width: 100%;
    height: 62px;
    background-color: #13112A;
}

.logo_link {
    float: left;
}

.logo_link:hover {
    text-decoration: none;
}

#logo {
    width: 50px;
    margin: 4px 25px;
}

.nav_item {
    float: right;
    margin: 10px 30px;
    border: 2px solid #13112A;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px 20px;
    font-family: 'Roboto',sans-serif;
    color: #D7BDE2;
}

    .nav_item:hover {
        text-decoration: none;
        background-color: #212F3C;
        color: #D7BDE2;
    }

.later {
    color: red;
}

.com_name {
    font-size: 34px;
    font-family: 'Courgette',cursive;
    color: #D7BDE2;
}
@media(max-width:1100px) and (min-width:900px){
    .nav_item {
        margin: 10px 15px;
    }

}@media(max-width:900px){
    .nav_item {
        margin: 10px 5px;
        font-size: 19px;
        padding: 5px 9px;
    }

}
 /*********footer**********/
.c_footer {
    height: 300px;
    width: 100%;
    background-color: #13112A;
    display: flex;
}
#footer_logo{
    width:150px;
    margin-top:30px;
}
.footer_logo_sec {
    /*display:inline;*/
    width: 25%;
    float: left;
    text-align: center;
    margin: 20px 0;
    border-right: 2px solid #ffffff;
}
.footer_aboutUs_sec {
    text-align: center;
    margin: 20px 0;
    border-right: 2px solid #ffffff;
}
.footer_ContactUs_sec {
    text-align: center;
    margin: 20px 0;
}
.contact_information {
    text-align: center;
    color: #D7BDE2;
}
.s_icon_f{
    width:25px;
}

@media(min-width:1100px) and (max-width:1200px) {

    #footer_logo {
        width: 110px;
    }
  
}